.md-inline-form.inputdemoBasicUsage(layout='column', ng-cloak='')
  md-content(layout-padding='')
      div
          form(method="post", action="/fillpdf")
              div(layout-gt-sm='row')
                  md-input-container.md-block(flex-gt-sm='')
                      label First name
                      input(name='p1First')
                  md-input-container.md-block(flex-gt-sm='')
                      label Last name
                      input(name='p1Last')
              div(layout-gt-sm='row')
                  md-input-container.md-block(flex-gt-sm='')
                      label Phone
                      input(name='p1Phone')
                  md-input-container.md-block(flex-gt-sm='')
                      label Case Nuber
                      input(name='caseNum')
              md-input-container.md-block
                  label Address
                  input(name='p1Street1')
              md-input-container.md-block(md-no-float='')
                  input(name='p1Street2', placeholder='Address 2')
              div(layout-gt-sm='row')
                  md-input-container.md-block(flex-gt-sm='')
                      label City
                      input(name='p1City1')
                  md-input-container.md-block(flex-gt-sm='')
                      label State
                      md-select(ng-model='p1State1', name='p1State1')
                          md-option(ng-repeat='state in states', value='{{state.abbrev}}')
                              | {{state.abbrev}}
                  md-input-container.md-block(flex-gt-sm='')
                      label Postal Code
                      input(name='p1Zip1', placeholder='12345', required='', ng-pattern='/^[0-9]{5}$/')
              md-input-container.md-block
                  label Why does the defendant owe you?
                  textarea(name='reason1', rows='1', md-select-on-focus='')
              md-button(type='submit') Submit