div(ng-switch='selection')
	form(method='post', action='/fillpdf')
		div(ng-switch-when='plaintiff')
			.md-padding.selectdemoOptionGroups(ng-cloak='')
				div(layout='row')
					md-input-container
						label # of Plaintiffs
						md-select(ng-model='pNumber', name='pNumber')
							md-option(ng-repeat='n in scFormInfo.pNumber', value='{{n}}') {{n}}
					md-input-container
						label Person or Business?
						md-select(ng-model='pType', name='pType')
							md-option(ng-repeat='n in scFormInfo.pType', value='{{n}}', ng-init="value = 'Business'") {{n}}
			.md-inline-form.inputdemoBasicUsage(layout='row', ng-cloak='', ng-if='pNumber > 2')
				h1.md-title
					| Since your case has more than 2 plaintiffs, you'll need to file an SC-100a. We'll add that to your to-do list, which will be presented to you after completing this form.
				section(layout='row', layout-sm='column', layout-align='center center', layout-wrap='')
					md-button.md-raised(ng-click="lessThanTwo('File SC100a')") Ok
			.md-inline-form.inputdemoBasicUsage(layout='row', ng-cloak='', ng-if="pType == 'Business'")
				h1.md-title Are you going business under a ficticious business name?
				section(layout='row', layout-sm='column', layout-align='center center', layout-wrap='')
					md-button.md-raised-primary(ng-click='isFictitious1()') Yes
					md-button.md-raised(ng-click='notFictitious()') No
			div(ng-if='isFictious == true')
				h2.md-title Ok, you'll need to file a SC-103, we'll attach that to your to-do list.
				md-button.md-raised(ng-click="isFictitious2('File SC103')") OK
			.md-inline-form.inputdemoBasicUsage(layout='column', name='p1Info', ng-cloak='', ng-if="(pNumber <= 2 && (pType == 'Person' || pType == 'Government Official' || pType == 'Not Fictitious'))")
				md-divider
				md-content(layout-padding='')
					md-title
						md-title-text Plaintiff 1 Info
					div
						div(layout-gt-sm='row')
							md-input-container.md-block(flex-gt-sm='')
								label First name
								input(name='p1First')
							md-input-container.md-block(flex-gt-sm='')
								label Last name
								input(name='p1Last')
						div(layout-gt-sm='row')
							md-input-container.md-block(flex-gt-sm='')
								label Phone
								input(name='p1Phone')
						md-input-container.md-block
							label Address
							input(name='p1Street1')
						md-input-container.md-block(md-no-float='')
							input(name='p1Street2', placeholder='Address 2')
						div(layout-gt-sm='row')
							md-input-container.md-block(flex-gt-sm='')
								label City
								input(name='p1City1')
							md-input-container.md-block(flex-gt-sm='')
								label State
								md-select(ng-model='p1State1', name='p1State1')
									md-option(ng-repeat='state in states', value='{{state.abbrev}}') {{state.abbrev}}
							md-input-container.md-block(flex-gt-sm='')
								label Postal Code
								input(name='p1Zip1', placeholder='12345', required='', ng-pattern='/^[0-9]{5}$/')
						md-input-container.md-block
							label Why does the defendant owe you?
							textarea(name='reason1', rows='1', md-select-on-focus='')
				md-button(ng-click='q1q2()') Next
		div(ng-switch-when='defendant')
			.md-padding.selectdemoOptionGroups(ng-cloak='')
				div(layout='row')
					md-input-container
						label # of Defendants
						md-select(ng-model='dNumber', name='dNumber')
							md-option(ng-repeat='n in scFormInfo.pNumber', value='{{n}}') {{n}}
					md-input-container
						h3 If any of the defendants are on active military duty, enter their names here: 
						input(name='dActiveDutyList')
			.md-inline-form.inputdemoBasicUsage(layout='column', name='d1Info', ng-cloak='', ng-if='dNumber <= 2')
				md-divider
				md-content(layout-padding='')
					md-title
						md-title-text Defendant 1 Info
					div
						div(layout-gt-sm='row')
							md-input-container.md-block(flex-gt-sm='')
								label First name
								input(name='d1First')
							md-input-container.md-block(flex-gt-sm='')
								label Last name
								input(name='d1Last')
						div(layout-gt-sm='row')
							md-input-container.md-block(flex-gt-sm='')
								label Phone
								input(name='d1Phone')
						md-input-container.md-block
							label Address
							input(name='d1Street1')
						md-input-container.md-block(md-no-float='')
							input(name='d1Street2', placeholder='Address 2')
						div(layout-gt-sm='row')
							md-input-container.md-block(flex-gt-sm='')
								label City
								input(name='d1City1')
							md-input-container.md-block(flex-gt-sm='')
								label State
								md-select(ng-model='d1State1', name='d1State1')
									md-option(ng-repeat='state in states', value='{{state.abbrev}}') {{state.abbrev}}
							md-input-container.md-block(flex-gt-sm='')
								label Postal Code
								input(name='d1Zip1', placeholder='12345', required='', ng-pattern='/^[0-9]{5}$/')
				md-button(ng-click='dFinal()') Next
		div(ng-switch-when='dispute')
		div(ng-switch-when='court')
		div(ng-switch-when='final')
			md-button(type='submit') Submit
