section.card.smallclaims
  .content
    h1 Is Small Claims Right for You?
    form.form-horizontal(name='scQuizForm', novalidate='')
      ul.nav.nav-tabs
        li(ng-repeat='step in steps', ng-class='{active: $index==getCurrentStepIndex()}')
          a(href='javascript:void(0)') {{step}}
      div(ng-switch='selection')
        div(ng-switch-when='Step 1: Basic Info')
          .row
            .textintro
              h4 Let's get some basic info
            fieldset
              .formRow
                | I would like to file against a 
                select(ng-model='defendantState', ng-options='x for x in states')
                |  based 
                select(ng-model='defendantType', ng-options='x for x in types')
                |  for
                input(type='number', name='amount', placeholder='Amount', ng-model='amount', ng-required='true')
            .clearfix
            .pull-left
              button.btn.btn-success(ng-click='canFile(defendantState, amount)') Can I File?
            .pull-right(ng-show='passBasics')
              button.btn.btn-success(ng-click='oneToTwo(defendantState, defendantType, amount)') Next Step
        div(ng-switch-when='Step 2: Case Difficulty')
          .row
            h4 How difficult will your case be?
            fieldset
              .formRow
                | I am a 
                select(ng-model='plaintiffType', ng-options='x for x in types')
                |  suing a {{ defendantType }} in 
                select(ng-model='location', ng-options='x for x in locations')
          .clearfix
          .pull-right
            button.btn.btn-success(ng-click='twoToThree(plaintiffType, location)') Next Step
        div(ng-switch-when='Step 3: Cost')
          .row
            h1 Cost
            fieldset
              .formRow
                h4 How Much Will All This Cost?
                .col-md-12
                  p Number of Defendants
                  .btn-group
                    label.btn.btn-primary(ng-model='casesCountModal', uib-btn-radio='1') One
                    label.btn.btn-primary(ng-model='casesCountModal', uib-btn-radio='2') Two
                    label.btn.btn-primary(ng-model='casesCountModal', uib-btn-radio='3') Three
                .clearfix
                .col-md-12
                  p Type of Dispute
                  .btn-group
                    label.btn.btn-success(ng-model='disputeServiceModal', uib-btn-radio="'Small Claim'") Small Claim
                    label.btn.btn-success(ng-model='disputeServiceModal', uib-btn-radio="'Demand Letter'") Demand Letter
                    label.btn.btn-success(ng-model='disputeServiceModal', uib-btn-radio="'Appeal'") Appeal
                .clearfix
                .col-md-12
                  p If the amount listed below is correct, select calculate to get the cost!
                  h3 {{ quizDeetsObject.amount }}
