!!!
html(ng-app="myApp")
  head
    meta(charset='utf8')
    base(href='/')
    title SC-100 App
    link(rel='stylesheet', type='text/css', href='https://fonts.googleapis.com/css?family=Lato:400,100,700,900')
    link(rel='stylesheet', type='text/css', href='/css/app.css')
    link(rel='stylesheet', type='text/css', href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
  body
    block body
