!!!
html(ng-app="myApp")
  head
    meta(charset='utf8')
    base(href='/')
    title SC-100 App
    
    script(src='js/lib/angular/angular.js')
    script(src='js/lib/angular/angular-route.js')
    script(src='js/lib/angular/angular-animate.js')
    script(src='js/lib/angular/angular-sanitize.js')
    script(src='js/lib/angular/ui-bootstrap-tpls-2.5.0.js')
    
    link(rel='stylesheet', href='/css/app.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
  body
    block body
    
    